@import "screens";

/* Fonts */
$font-sans: Inter, Avenir, Helvetica, sans-serif;

/* Colors */

$bg-color-1: #FFFFFF; // Background
$tx-color-1: rgba(0, 0, 0, 0.8); // Primary
$tx-color-2: #0EA5E9; // Link
$tx-color-3: rgba(0, 0, 0, 0.3); // Secondary
$tx-color-4: rgba(255, 255, 255, 0.8); // Code and code blocks

/* General style resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: $font-sans;
	font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@mixin center-x {
  margin: 0 auto;
}

/* Styles */

body {
  width: 65%;
  @include lg { width: 80%; }
  @include sm { width: 100%; }
	padding: 2rem;
	background: $bg-color-1;
	color: $tx-color-1;
	@include center-x;
}

pre, code {
	color: $tx-color-4;
}

code {
  background: #2b303b;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}

a {
  color: $tx-color-2;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  a {
  	color: $tx-color-1;
    text-decoration: none;
  }

  a:hover, a:focus {
    color: $tx-color-2;
    transition: 0.5s color ease-in-out;
  }

}

header {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  row-gap: 1.2rem;

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// For article previews on the main page
.post-previews {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      font-size: 1.06rem;
      line-height: 1.5;
    }
  }

  .summary {
    max-width: 80%;
  }
}

// For full page articles
.post {
  // width: 70%;
  // @include lg { width: 90%; }
  // @include sm { width: 100%; }
  display: block;
  margin: 3rem auto;

  img {
    display: block;
    width: 50%;
    @include lg { width: 70%; }
    @include sm { width: 100%; }
    margin: auto;
  }

  h1, h2, h3, h4, h5 {
      margin: 1.5rem 0;
      line-height: 1.2;
  }

  h1 {
  	font-size: 2rem;
  }

  p, li {
    font-size: 1.06rem;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.8);
  }
  
  p {
      margin: 2rem 0;
  }

  li {
      margin-left: 1.2rem;
  }

  pre {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
  }

  pre code {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .return-link {
    margin-top: 1.2rem;
  }
}
