{% extends "base.html" %}

{% block content %}
<nav>
  <a href="/" class="active">Home</a>
  <!--incomplete about page
  <a href="about.html">About</a>
  -->
  <a href="https://github.com/Songtech-0912?tab=repositories">Projects</a>
  <a href="https://github.com/Songtech-0912">GitHub</a>
</nav>
<header>
  <h1>
    Hi! I'm Jacky Song.
  </h1>
  <h2>
    A designer and developer with a passion for open source software
  </h2>

  <section class="post-previews">
  {% for page in paginator.pages %}
    <article>
      <h3>{{ page.title }}</h3>
      <div class="summary">{{ page.summary | safe }}</div>
      <a href="{{ page.permalink | safe }}">Read more...</a>
    </article>
  {% endfor %}
  </section>
</header>
{% endblock content %}
