{% extends "base.html" %}

{% block content %}
<header>
  <h1>
    Hi! I'm Jacky Song.
  </h1>
  <p>
    A physicist, designer, and developer with a passion for open source software.
  </p>
</header>

 <section class="post-previews">
   <div class="contact">
     <h2>Professional inquiries</h2>
     <p>Interested in working with me or hiring me? See my resume, portfolio and contact information on
     <a href="#">this info page &#x2192;</a></p>
  </div>
 {% for page in section.pages %}
   <article>
     <h2>{{ page.title }}</h3>
     <p class="summary">{{ page.summary | safe }}</p>
     <a href="{{ page.permalink | safe }}">Read more...</a>
   </article>
 {% endfor %}
 </section>
{% endblock content %}
